@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Color Theme Swatches in Hex */
.Roxo-intenso-1-hex { color: #7D49E6; }
.Roxo-intenso-2-hex { color: #7D49E6; }
.Roxo-intenso-3-hex { color: #693DBF; }
.Roxo-intenso-4-hex { color: #462980; }
.Roxo-intenso-5-hex { color: #231440; }

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-image: linear-gradient(140deg, white, rgb(233, 233, 233));


}

body::-webkit-scrollbar {
    background-color: #3d2470;
}

body::-webkit-scrollbar-thumb {
    background-color: #231440;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #462980;
    box-shadow: 0px 2px 4px #23144088;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(219, 219, 219);
    transition: 0.5s;
}

.logo {
    padding-left: 30px;
}

.nav-list {
    padding-right: 30px;
}

.nav-item, .nav-item2, .nav-item3, .nav-item4 {
    text-decoration: none;
    overflow: hidden;
    font-weight: lighter;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	padding: 0.3em 1em;
	cursor: pointer;
}

.logoimg {
    width: 70px;
}

#home{
    margin-top: 200px;
    border-bottom: 2px solid #2314402d;
}

#menu {
    display: none;
}

.apresentacao {
    visibility: hidden;
    font-size: 35px;
    color: #462980;
    animation-name: apresentacao;
    animation-duration: 2s;
    margin-left: 20px;
}

.apresentacao > h1 {
    font-size: 3.5em;
}

@keyframes apresentacao {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}

.mp {
    text-shadow: 0 0 9px #7D49E6


}

.oqfaco {
    font-size: .7em;
    font-weight: lighter;
    font-style: italic;
}

.ap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    margin-bottom: 50px;
}


#imgb {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    background-image: url(imagens/peu.png);
    animation-name: imgb;
    animation-duration: 2s;
}

@keyframes imgb {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0);
    }
}

.social-media-hub {
    margin-top: 13px;
}

.logos {
    padding-right: 10px;
    width: 32px;
    transition: .1s;
}

.logos:hover {
    padding-right: 10px;
    scale: 1.2;
    transition: .2s;

}

#content {

}

.backgroundc {
    background-image: url();
}

.tituloc {

}

.titulop {
    color: #462980;
    font-size: 90px;
    margin-top: 50px;
}

.tap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 70px;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.card1 {
    background-image: linear-gradient(90deg, rgb(51, 51, 51), rgb(32, 32, 32));
    box-shadow: 3px 3px 5px rgb(168, 168, 168);
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
    z-index: 1;
}

.content1 {
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-weight: lighter;
    font-style: italic;
    padding: 0 15px;
    height: 0;
    transform: translateX(30px);
    transition: 0.6s;
}

.arrow {
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(180deg);
    transition: 0.6s;
}

.card1:hover {
    background-image: linear-gradient(90deg, #693DBF, #7D49E6);
}

.card1:hover .arrow {
    transform: rotate(0);
}

.card1:hover .content1{
    transform: translateX(0);
    height: 130px;
}


.card1:hover .imgs1{
    opacity: .9;
}

.card1:hover .imgs2{
    opacity: .9;
}

.card1:hover .imgs3{
    opacity: .9;
}

.desc {
    padding: 20px;
    opacity: .6;
}

.imgs1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imagens/Screenshot_54.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 5px 3px 7px #8686867c;
}

.imgs2 {
    background-image: url('imagens/background4.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;box-shadow: 5px 3px 7px #8686867c;
}

.imgs3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imagens/Screenshot_28.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;box-shadow: 5px 3px 7px #8686867c;
}

.txtimg1 {
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color: #a577ff;
    text-shadow: 2px 2px 2px #000000be;
}

.link1 {
    display: flex;
    color: #231440;
    justify-content: center;
    font-style: normal;
    font-weight: bolder;
    text-decoration-line: underline;
    padding-top: 3px;
}

#sobremimc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(imagens/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 850px;
}

.conteudosobremim {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 650px;
    align-items: center;
    margin-right: 30px;
    margin-left: 100px;
}

.iconperfil {
    display: flex;
    background-image: url(imagens/logo-rocketuppsd.png);
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-right: 50px;
    animation: iconperfil 5s ease-in-out infinite;
}

.info {
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
}

.infotext {
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}


.info > h2 {
    font-style: italic;
    margin-bottom: 20px;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #462980;
    width: fit-content;
}

.tituloc {
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #462980;
    width: 350px;
    text-align: center;
}

.iconsc {
    padding-right: 20px;
    transition: .3s;
}

.iconsc:hover {
    transform:scale(1.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    background-color: #462980;
}

footer  h1 {
    color: white;
}

footer  h2 {
    font-weight: lighter;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid #683dbf7a;
    width: max-content;
}

label {
    color: white;
    padding-bottom: 5px;
}

input, textarea, button, fieldset{
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    background-color: white;
    border-style: none;
}

input {
    box-shadow: 2px 2px 2px #23144063;
    outline: none;
}

fieldset {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, #462980, #693DBF);
    border-style: none;
    box-shadow: 3px 3px 3px #23144063;
    padding: 15%;
}

.campo {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.campo select option {
    padding-right: 1e
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="textarea"] {
    border: 1px solid #462980;
    box-shadow: 5px 5px 2px var('.Roxo-intenso-5-hex');

}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #a577ff;
    border: none;
}


@media only screen and (min-width: 701px ) and (max-width: 1400px) {

    #sobremimc {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 200px;
    }

    .conteudosobremim {
        width: auto;
        flex-wrap: wrap;
        margin-left: 30px;
    }

    .iconperfil {
        margin: 30px;
        width: 300px;
        height: 300px;
    }

    #cards {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .card1 {
        margin-bottom: 30px;
    }

    #sobremimc {
        background-size: cover;
    }
}

@media only screen and (min-width: 701px ) and (max-width: 901px) {

    #home {
        margin-top: 150px;
    }

    
    .iconperfil {
        width: 240px;
        height: 240px;
    }
    
    
    .card1:active .arrow {
        transform: rotate(0);
    }
    
    .apresentacao {
        font-size: 40px;
    }
    
}

@media only screen and (min-width: 100px ) and (max-width: 701px) {

    #home {
        margin-top: 100px;
    }

    .nome {
        font-size: .8em;
    }

    .oqfaco {
        font-size: .8em;
        font-weight: lighter;
        font-style: italic;
    }
    
    #sobremimc {
        flex-direction: column-reverse;
        justify-content: center;
        background-size: cover;
        align-items: center;
        background-size: cover;
        height: 95vh;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .ap {
        margin: 0px;
    }
    
    footer {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 20px 0px;
    }

    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    form {
        padding: 20px;
        width: 90%;
        margin: 0;
    }

    textarea {
        width: 90%;
    }

    input {
        width: 60%;
        height: 20px;
    }

    .nav-item4{
        display: none;
    }

    .conteudosobremim {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }
    
    .iconperfil {
        width: 150px;
        height: 150px;
        margin-left: 20px;
    }
    
    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        margin-top: 70px;
        padding: 0;
    }

    #cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding: 0;
    }

    #imgb {
        width: 100%;
        height: 400px;
    }

    .imgs1 {
        background-size: cover;
        background-position: center;
    }

    .txtimg1 {
        font-size: 1.3em;
        text-align: center;
    }

    .card1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-bottom: 30px;
    }
    
    .tap {
        width: 90%;
        padding-bottom: 20px;
    }

    .titulop {
        text-align: center;
        font-size: 2.3em;
        margin: 0;
    }

    .tituloc {
        width: 95%;
        padding: 0;
    }

    .info {
        margin-top: 40px;
        width: 90%;
    }

    .desc {
        font-size: 16px;
    }

    .content1 {
        transition: 0.6s all ease-in-out;
    }

    .card1:hover .content1{
        transform: translateX(0);
        height: 90%;
    }

    .card1:hover #content2{
        transform: translateX(0);
        height: 90%;
    }


.apresentacao {
    margin-right: 20px;
    font-size: 30px;
}

.ap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 1.5em;
}

header {
    width: 100%;
}


#navbar {
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background: #231440;
    z-index: 100;
    font-size: 30px;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    transition: .4s;
}

.iconperfil {
    display: none;
}

.tituloc {
    font-size: 1.4em;
    text-align: center;
}

.titulop {
    width: 80%;
}

.infotext {
    font-size: .9em;
}

#menu {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    color: white;
    margin-right: 20px;
}

#hamburguer {
    display: block;
    border-top: 2px solid;
    width: 20px;
    color: white;
}

#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#navlist.active #navbar {
    display: absolute;
    margin-top: 20px;
    visibility: visible;
    overflow-y: auto;
    height: 50vh;
}

#navlist.active #hamburguer {
    border-top-color: transparent;
}

#navlist.active #hamburguer::before {
    transform: rotate(135deg);
}

#navlist.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}

.nav-item, .nav-item2, .nav-item3, .nav-item4 {
    font-size: 40px;
    padding: 2.5rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.315);
}

}

@media only screen and (min-width: 100px ) and (max-width: 300px) {

    .iconperfil {
        visibility: hidden;
    }
}